@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    height: 150px;
    background: #6b6f87;
}

.logo{
    /* float: right; */
    line-height: 20px;
}

.container1{
    max-width: 1100px;
    margin: auto;
    background-color:#6b6f87;
    padding: 1em;
}

.container2{
    max-width: 1100px;
    height: 200px;
    margin: auto;
    background-color:#5bbdeb;
    padding: 1em;
    overflow: hidden;
}

.button{
    float: right;
    line-height: 20px;
}

.button a{
    text-decoration: none;
    color:black;
}

#button1{
    float: center;
    line-height: 20px;
    background: #f0975b;
    padding: 0.5em;
    border: 1px solid #f0975b;
}

#button2{
    float: center;
    line-height: 20px;
    background: #f0975b;
    padding: 0.5em;
    border: 1px solid #f0975b;
}

.SeleccionMenu{
    width: 150px;
}

.menu{
    float: left;
    line-height: 20px;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: black;
    transition: all 500ms ease;
}

.menu a:hover{
    background: #f0975b;
    color: #fff;
}

.menu .submenu{
    background: #5bbdeb;
    box-shadow: 3px 10px 10px
    rgba(0,0,0,0,0.2);
    display: none;
}

.menu .submenu li a{
    line-height: 50px;
}

.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
}


.container3{
    background-color: white;
    padding: 1em;
    overflow: hidden;
}


.item{
    margin: 1em;
    padding: 1em;
    color: blue;
    float: left;
}

#item1{
    background-color: #f0975b;
}

#item2{
    background-color: #5bbdeb;
}

/* Registro html */
.container4{
    background-color: #f0975b;
    padding: 1em;
}

.form1{
    padding: 1em;
    background-color:white;
    float: center;

}

.item3{
    background-color: #5bbdeb;
    margin-top: 1em;
}

.item5{
    background-color: #f0975b;
    margin-top: 1em;
    margin: center;
}